
<%= form_tag sessions_path, { class: 'form-signin' } do %>

  <h2 class="form-signin-heading">Iniciar sesi&oacute;n</h2>

  <%= text_field_tag :email, nil, class: 'input-block-level', placeholder: 'Email' %>

  <%= password_field_tag :password, nil, class: 'input-block-level', placeholder: 'Contraseña' %>

  <% if @error %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p><%= t('activerecord.attributes.session.datos_invalidos') %></p>
    </div>
  <% end %>

<!--
  <label class="checkbox">
    <input type="checkbox" name="remember_me">Mantener sesi&oacute;n iniciada
  </label>
-->

  <%= submit_tag t('activerecord.attributes.session.iniciar_sesion'), { class: "btn btn-large btn-primary" } %>

<% end %>
