<script type="text/javascript">
$(function() {

  passengers  = <%= raw(passengers_as_json_full( @passengers )) %>;

  $('#passenger_search').typeahead({
    
    source: function (query, process) {
      matches = [];
      map = {};
   
      $.each(passengers, function (i, passenger) {
        // var passenger_denomination = passenger.dni + ' (' + passenger.name + ')';
        map[passenger.passenger_denomination] = passenger;
        matches.push(passenger.passenger_denomination);
      });
   
      process(matches);
    },
    
    updater: function (item) {
      selected = map[item].passenger_id; // passenger_id
      $('#room_passenger_passenger_passenger_id').val( selected ); // hidden
      $('#room_passenger_passenger_dni').val( map[item].dni );
      $('#room_passenger_passenger_name').val( map[item].name );
      $('#room_passenger_passenger_lastname').val( map[item].lastname );
      $('#room_passenger_passenger_phone_number').val( map[item].phone_number );
      $('#room_passenger_passenger_nationality').val( map[item].nationality );
      $('#room_passenger_passenger_birthdate').val( map[item].birthdate );
      $('#room_passenger_passenger_country').val( map[item].country );
      $('#room_passenger_passenger_province').val( map[item].province );
      $('#room_passenger_passenger_province').val( map[item].province );
      $('#room_passenger_passenger_city').val( map[item].city );
      $('#room_passenger_passenger_address').val( map[item].address );
      $('#room_passenger_passenger_proffesion').val( map[item].proffesion );
      $('#room_passenger_passenger_civil_status').val( map[item].civil_status );
      return item;
    },
    
    matcher: function (item) {
      if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
        return true;
      }
    },
    
    sorter: function (items) {
        return items.sort();
    },
    
    highlighter: function (item) {
      var regex = new RegExp( '(' + this.query + ')', 'gi' );
      return item.replace( regex, "<strong>$1</strong>" );
    },
  
  });
});
</script>

<%= form_for @room_passenger, html: {class: "form-horizontal"} do |f| %>
  
  <% if @room_passenger.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h3>Se encontraron <%= @room_passenger.errors.count %> errores:</h3>
      <ul>
      <% @room_passenger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if notice %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p><%= notice %></p>
    </div>
  <% end %>


  <%= f.fields_for :reservation_room do |reservation_room| %>

    <% reservation = @reservation_room.reservation %>
    <p>Reserva #<%= reservation.id %></p>
    <p>Habitacion <%= @reservation_room.reservation_item.number %></p>

    <%= f.hidden_field :reservation_room_id %>

  <% end %>



  <div class="control-group">
    <%= f.label :passenger_id, 'Buscar Pasajero', { class: 'control-label' } %>
    <div class="controls">
      <input id="passenger_search" placeholder="Ingrese texto a buscar..." class="" type="text" name="">
      <a href="#myModal" role="button" class="btn" data-toggle="modal">+Nuevo pasajero</a>
      <%= f.hidden_field :passenger_id  %>
    </div>
  </div>
    
  


  <div class="form-actions">
    <%= f.submit "Guardar", { class: 'btn btn-primary' } %>
    <%= link_to 'Atras', room_passengers_path, { class: 'btn' } %>
  </div>

<% end %>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Nuevo pasajero</h3>
  </div>
  <div class="modal-body">
    <%= render 'passengers/form', passenger: @passenger, show_buttons: false %>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
