<script type="text/javascript">
$(function() {

  passengers  = <%= raw(passengers_as_json_full( @passengers )) %>;

  $('#passenger_search').typeahead({
    
    source: function (query, process) {
      matches = [];
      map = {};
   
      $.each(passengers, function (i, passenger) {
        // var passenger_denomination = passenger.dni + ' (' + passenger.name + ')';
        map[passenger.passenger_denomination] = passenger;
        matches.push(passenger.passenger_denomination);
      });
   
      process(matches);
    },
    
    updater: function (item) {
      selected = map[item].passenger_id; // passenger_id
      console.log( selected );
      $('#room_passenger_passenger_id').val( selected ); // hidden
      return item;
    },
    
    matcher: function (item) {
      if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
        return true;
      }
    },
    
    sorter: function (items) {
        return items.sort();
    },
    
    highlighter: function (item) {
      var regex = new RegExp( '(' + this.query + ')', 'gi' );
      return item.replace( regex, "<strong>$1</strong>" );
    },
  
  });
});
</script>

<%= form_for @room_passenger, html: {class: "form-horizontal"} do |f| %>
  
  <% if @room_passenger.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h3>Se encontraron <%= @room_passenger.errors.count %> errores:</h3>
      <ul>
      <% @room_passenger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if notice %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p><%= notice %></p>
    </div>
  <% end %>


  <%= f.fields_for :reservation_room do |reservation_room| %>

    <% reservation = @reservation_room.reservation %>
    <p><b>C&oacute;digo Reserva:</b> #<%= reservation.id %></p>
    <% if @reservation_room.reservation_item_type == 'Room' %>
    <p><b>Habitacion <%= @reservation_room.reservation_item.number %></b></p>
    <% else %>
    <p><b><%= @reservation_room.reservation_item.name %></b></p>
    <% end %>

    <p><b>Fecha ingreso:</b> <%= @reservation_room.since %></p>
    <p><b>Fecha salida:</b> <%= @reservation_room.until %></p>

    <%= f.hidden_field :reservation_room_id %>
    <%= hidden_field_tag 'room_passenger[reservation_room_id]', @reservation_room.id %>
    <%= hidden_field_tag 'reservation_room_id', @reservation_room.id %>

  <% end %>



  <div class="control-group">
    <%= f.label :passenger_id, 'Pasajero:', { class: 'control-label' } %>
    <div class="controls">
      <input id="passenger_search" placeholder="Buscar pasajero..." class="" type="text" name="">
      <a href="#myModal" role="button" class="btn" data-toggle="modal">+Nuevo pasajero</a>
      <%= f.hidden_field :passenger_id  %>
    </div>
  </div>
    
  


  <div class="form-actions">
    <%= f.submit "Guardar", { class: 'btn btn-primary' } %>
    <%= link_to 'Atras', room_passengers_path, { class: 'btn' } %>
  </div>

<% end %>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Nuevo pasajero</h3>
  </div>
  

  <%= form_for @passenger, html: {class: "form-horizontal"} do |f| %>

    <div class="modal-body">
      <%= render 'passengers/fields', f: f %> <!-- llamando al partial _fields.html.erb -->
    </div>

    <div class="modal-footer">
      <%= f.submit "Guardar", { class: 'btn btn-primary' } %>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    </div>

  <% end %>

</div>
