<%= form_for @room_type, html: {class: "form-horizontal"} do |f| %>

  <% if @room_type.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h2>Se encontraron <%= @room_type.errors.count %> errores:</h2>
      <ul>
      <% @room_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if notice %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p><%= notice %></p>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :denomination, { class: 'control-label' } %>
    <div class="controls">
      <%= f.text_field :denomination %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :amount, { class: 'control-label' } %>
    <div class="controls">
      <%= f.text_field :amount %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Guardar", { class: 'btn btn-primary' } %>
    <%= link_to 'Atras', room_types_path, { class: 'btn' } %>
  </div>

<% end %>
