<h2>Listado de Tipos de habitaci&oacute;n</h2>

<% if notice %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p><%= notice %></p>
  </div>
<% end %>

<% if @room_types.size <= 0 %>

  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p>No hay tipos de habitaci&oacute;n registrados</p>
  </div>

<% else %>

  <table  class="table table-hover table-condensed table-striped table-bordered">
    <tr>
      <th><%= t('activerecord.attributes.room_type.denomination') %></th>
      <th><%= t('activerecord.attributes.room_type.amount') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @room_types.each do |room_type| %>
      <tr>
        <td><%= room_type.denomination %></td>
        <td><%= room_type.amount %></td>
        <td><%= link_to 'Detalle', room_type %></td>
        <td><%= link_to 'Editar', edit_room_type_path(room_type) %></td>
        <td><%= link_to 'Eliminar', room_type, method: :delete, data: { confirm: 'Esta seguro que desea eliminar el tipo de habitacion?' } %></td>
      </tr>
    <% end %>
  </table>

<% end %>

<br>

<%= link_to 'Nuevo Tipo de habitacion', new_room_type_path, { class: 'btn btn-primary' } %>
