<h2>Detalle de la Reserva de la Habitaci&oacute;n</h2>

<% if notice %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p><%= notice %></p>
  </div>
<% end %>

<p>
  <b><%= t('activerecord.attributes.reservation_room.reservation_id') %>:</b>
  <%= @reservation_room.reservation_id %>
</p>

<p>
  <b><%= t('activerecord.attributes.reservation_room.amount') %>:</b>
  <%= @reservation_room.amount %>
</p>

<p>
  <b><%= t('activerecord.attributes.reservation_room.since') %>:</b>
  <%= @reservation_room.since %>
</p>

<p>
  <b><%= t('activerecord.attributes.reservation_room.until') %>:</b>
  <%= @reservation_room.until %>
</p>

<div class="form-actions">
  <%= link_to 'Editar', edit_reservation_room_path(@reservation_room), { class: 'btn btn-primary' } %>
  <%= link_to 'Atras', reservation_rooms_path, { class: 'btn' } %>
</div>