<script type="text/javascript">
$(function() {
  reservation = <%= raw(reservation_as_json( @reservation )) %>;
  rooms       = <%= raw(rooms_as_json( @rooms )) %>;
  groups      = <%= raw(groups_as_json( @groups )) %>;
  room_types  = <%= raw(room_types_as_json( @room_types )) %>;
  passengers  = <%= raw(passengers_as_json( @passengers )) %>;

  load_form();
  load_pages();

  if( reservation.passenger ){ 
    $('#passenger_search').val( reservation.passenger.dni );
  }

  $('#passenger_search').typeahead({ // http://tatiyants.com/how-to-use-json-objects-with-twitter-bootstrap-typeahead/
    
    source: function (query, process) {
        // $.ajax({
        //   url: "",
        //   type: "get",
        //   data: this.value,
        //   success: function(response){
        //       // var json = $.parseJSON(response);
        //       alert("success");
        //       // $("#result").html('Submitted successfully');
        //   },
        //   error:function(){
        //       alert("failure");
        //       // $("#result").html('There is error while submit');
        //   }
        // });

      matches = [];
      map = {};
   
      // var data = [
      //   {"passenger_id": "CA", "dni": "California"},
      //   {"passenger_id": "AZ", "dni": "Arizona"},
      //   {"passenger_id": "NY", "dni": "New York"},
      //   {"passenger_id": "NV", "dni": "Nevada"},
      //   {"passenger_id": "OH", "dni": "Ohio"}
      // ];
   
      $.each(passengers, function (i, passenger) {
        // var passenger_denomination = passenger.dni + ' (' + passenger.name + ')';
        map[passenger.passenger_denomination] = passenger;
        matches.push(passenger.passenger_denomination);
      });
   
      process(matches);
    },
    
    updater: function (item) {
      selected = map[item].passenger_id;
      $('#reservation_passenger_id').val( selected );
      return item;
    },
    
    matcher: function (item) {
      if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
        return true;
      }
    },
    
    sorter: function (items) {
        return items.sort();
    },
    
    highlighter: function (item) {
      var regex = new RegExp( '(' + this.query + ')', 'gi' );
      return item.replace( regex, "<strong>$1</strong>" );
    },
  
  });


});
</script>

<%= form_for @reservation, html: {class: "form-horizontal reservation_form"} do |f| %>

  <% if @reservation.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h3>Se encontraron <%= @reservation.errors.count %> errores:</h3>
      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% @reservation.reservation_rooms.each do |rr| %>
        <% rr.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      <% end %>

      </ul>
    </div>
  <% end %>

  <% if notice %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p><%= notice %></p>
    </div>
  <% end %>

  <h3>Datos pasajero</h3>


  <div class="control-group">
    <%= f.label :passenger_id, 'Pasajero', { class: 'control-label' } %>
    <div class="controls">
      <input id="passenger_search" placeholder="Buscar..." class="" type="text" name="">
      <%= f.hidden_field :passenger_id  %>
      <%= link_to '+ Nuevo Pasajero', new_passenger_path, { class: 'btn' } %>
    </div>
  </div>
    
  <% if @enterprises.size > 0 %>
    <div class="control-group select">
      <%= f.label :enterprise_id, { class: 'control-label' } %>
      <div class="controls">
        <%= select("reservation", "enterprise_id", @enterprises.collect{ |p| [p.name, p.id] }, { include_blank: true } ) %>
        <%= link_to '+ Nueva Empresa', new_enterprise_path, { class: 'btn' } %>
      </div>
    </div>
  <% end %>

  <h3>Habitaciones</h3>

  <% group_count = {} %>
  
  <ul class="nav nav-tabs" id="myTab" style="margin-bottom: 10px;">
    <% Page.all.each do |page| %>
    <li><a href="#page_<%= page.id %>"><%= page.name %></a></li>
    <% end %>
  </ul>


  <div class="tab-content">

  <% Page.all.each do |page| %>
    <div class="tab-pane active" id="page_<%= page.id %>">



      <div class="control-group" style="padding-bottom: 10px;">
        <div class="controls" style="padding-left: 20px;">
          <div style="display: inline-block; width: 90px; padding-left: 3px; text-align: center;">Desde:</div>
          <div style="display: inline-block; width: 90px; padding-left: 3px; text-align: center;">Hasta:</div>
          <div style="display: inline-block; width: 90px; padding-left: 3px; text-align: center;">Precio diario:</div>
          <div style="display: inline-block; width: 90px; padding-left: 3px; text-align: center;">Precio total:</div>

        </div>
      </div>




      <% page.rooms.each do |room| %>
        
        <% group = room.group  %>
        <% if( !group.nil? && !group_count[group.id] ) %>
        <% group_count[group.id] = 1 %>
        <div class="control-group">
          <%= label_tag group.id, group.name, class: 'control-label' %>
          <div class="controls">
            <% group_id = 'reservation_group_' + group.id.to_s %>
            <% group_name = 'reservation_group[' + group.id.to_s + ']' %>
            <input id="<%= group_id %>" class="room_selection" type="checkbox" value="1" name="chk_<%= group_name %>">
            <input id="<%= group_id %>_since" class="room_selection hide" type="text" name="<%= group_name %>[since]">
            <input id="<%= group_id %>_until" class="room_selection hide" type="text" name="<%= group_name %>[until]">
            <input id="<%= group_id %>_amount" class="room_selection hide" type="text" name="<%= group_name %>[amount]">
            <input id="<%= group_id %>_total" class="room_selection hide" type="text" name="<%= group_name %>[total]" disabled="disabled">
          </div>
        </div>
        <% end %>

        <div class="control-group">
          <%= label_tag room.id, room.number, class: 'control-label' %>
          <div class="controls">
            <% room_id = 'reservation_room_' + room.id.to_s %>
            <% room_name = 'reservation_room[' + room.id.to_s + ']' %>
            <input id="<%= room_id %>" class="room_selection" type="checkbox" value="1" name="chk_<%= room_name %>">
            <input id="<%= room_id %>_since" class="room_selection hide" type="text" name="<%= room_name %>[since]">
            <input id="<%= room_id %>_until" class="room_selection hide" type="text" name="<%= room_name %>[until]">
            <input id="<%= room_id %>_amount" class="room_selection hide" type="text" name="<%= room_name %>[amount]">
            <input id="<%= room_id %>_total" class="room_selection hide" type="text" name="<%= room_name %>[total]" disabled="disabled">
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :amount, { class: 'control-label' } %>
    <div class="controls">
      <%= f.text_field :amount %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :observation, { class: 'control-label' } %>
    <div class="controls">
      <%= f.text_area :observation %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Guardar", { class: 'btn btn-primary' } %>
    <%= link_to 'Atras', reservations_path, { class: 'btn' } %>
  </div>

<% end %>