<%= form_for @reservation, html: {class: "form-horizontal"} do |f| %>

  <% if @reservation.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h3>Se encontraron <%= @reservation.errors.count %> errores:</h3>
      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if notice %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p><%= notice %></p>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :passenger_id, { class: 'control-label' } %>
    <div class="controls">
      <%= select("reservation", "passenger_id", @passengers.collect{ |p| [p.name+' '+p.lastname, p.id] }, { include_blank: true } ) %>
    </div>
  </div>
    
  <% if @enterprises.size > 0 %>
    <div class="control-group">
      <%= f.label :enterprise_id, { class: 'control-label' } %>
      <div class="controls">
        <%= select("reservation", "enterprise_id", @enterprises.collect{ |p| [p.name, p.id] }, { include_blank: true } ) %>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label">Habitaciones</label>
  </div>

  <% @rooms.each do |room| %>
    <div class="control-group">
      <%= label_tag room.id, room.number, class: 'control-label' %>
      <div class="controls">
        <% room_id = 'reservation_room[' + room.id.to_s + ']' %>
        <input id="<%= room_id %>" class="room_selection" type="checkbox" value="<%= room.id.to_s %>" name="chk_reservation_room">
        <input id="<%= room_id %>[since]" class="dp_room hide" type="text" name="<%= room_id %>[since]">
        <input id="<%= room_id %>[until]" class="dp_room hide" type="text" name="<%= room_id %>[until]">




      </div>
    </div>
  <% end %>

  <% @groups.each do |group| %>
    <div class="control-group">
      <%= label_tag group.id, group.name, class: 'control-label' %>
      <div class="controls">
        <% chk_group_id = 'chk_group_' + group.id.to_s %>
        <%= check_box_tag chk_group_id, group.id, false, class: 'room_selection' %>
        <% datepicker_id = chk_group_id + '_dp' %>
        <%= text_field_tag datepicker_id, nil, class: 'dp_group hide' %>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :amount, { class: 'control-label' } %>
    <div class="controls">
      <%= f.text_field :amount %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Guardar", { class: 'btn btn-primary' } %>
    <%= link_to 'Atras', reservations_path, { class: 'btn' } %>
  </div>

  <script type="text/javascript">
  $(function() {
    var rooms = <%= raw(rooms_as_json(@rooms)) %>;
  });
  </script>

<% end %>