<p id="notice"><%= notice %></p>

<p>
  <strong>Passenger:</strong>
  <%= @reservation.passenger_id %>
</p>

<p>
  <strong>Enterprise:</strong>
  <%= @reservation.enterprise_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @reservation.amount %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
