<h2>Detalle de la Reserva</h2>

<% if notice %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p><%= notice %></p>
  </div>
<% end %>

<p>
  <% p = @reservation.passenger %>
  <b><%= t('activerecord.attributes.reservation.passenger_id') %>:</b>
  <%= link_to p.name + ' ' + p.lastname, passenger_path( @reservation.passenger ) %>
</p>

<% if e = @reservation.enterprise %>
<p>
  <b><%= t('activerecord.attributes.reservation.enterprise_id') %>:</b>
  <%= e.name %>
</p>
<% end %>

<p>
  <b>Habitaciones:</b>
</p>
<ul>
  <% @reservation.reservation_rooms.each do |rr| %>
  
  <% #rr.reservation_item.common_denomination %>

  <li>
  <% if rr.reservation_item_type == 'Room' %>
    <strong><%= rr.reservation_item.number.to_s %></strong><%= ' desde el ' + rr.since.strftime("%d/%m/%Y") + ' hasta el ' + rr.until.strftime("%d/%m/%Y") %> <%= link_to "Agregar pasajeros", room_passengers_path( reservation_room_id: rr.id ) %>
  <% else %>
    <strong><%= rr.reservation_item.name.to_s %></strong><%= ' desde el ' + rr.since.strftime("%d/%m/%Y") + ' hasta el ' + rr.until.strftime("%d/%m/%Y") %> <%= link_to "Agregar pasajeros", room_passengers_path( reservation_room_id: rr.id ) %>
  <% end %>
  
  <% if rr.passengers.size != 0 %>
  <ul>
    <% rr.passengers.each do |passenger| %>
    <li><%= link_to passenger.lastname + ', ' + passenger.name, passengers_path( passenger ) %></li>
    <% end %>
  </ul>
  <% end %>
  
  </li>
  <% end %>
</ul>

<p>
  <b>Fecha de reserva:</b>
  <%= @reservation.updated_at.strftime("%d/%m/%Y - %H:%M hs") %>
</p>

<p>
  <b><%= t('activerecord.attributes.reservation.amount') %>:</b>
  $<%= @reservation.amount %>
</p>

<p>
  <b>Pagos: </b>
</p>

<% if @reservation.payments.size == 0 %>
  <p>No hay pagos registrados.</p>
<% else %>

<ul>
  <% @reservation.payments.each do |pay| %>
  <li><strong>$<%= pay.amount %></strong><%= ' el ' + pay.created_at.strftime("%d/%m/%Y a las %H:%M hs") %></li>
  <% end %>
</ul>

<p>
  <% total_payment = @reservation.total_payment %>
  <b>Total pagado: </b>$<%= total_payment %> <i>(restan $<%= @reservation.amount - total_payment %> )</i>
</p>

<% end %>

<% obs = @reservation.observation %>
<% unless obs.nil? || obs == "" %>
<p>
  <b><%= t('activerecord.attributes.reservation.observation') %>:</b>
  <%= obs %>
</p>
<% end %>


<div class="form-actions">
  <%= link_to 'Editar', edit_reservation_path(@reservation), { class: 'btn btn-primary' } %>
  <%= link_to 'Registrar pago', new_payment_path(reservation_id: @reservation), { class: 'btn' } %>
  <%= link_to 'Registrar Check-in', room_passengers_path(reservation_id: @reservation), { class: 'btn' } %>
  <%= link_to 'Atras', reservations_path, { class: 'btn' } %>
</div>