<% if f.object.errors.any? %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h3>Se encontraron <%= f.object.errors.count %> errores:</h3>
    <ul>
    <% f.object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if notice %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p><%= notice %></p>
  </div>
<% end %>

<div class="control-group">
  <%= f.label :dni, { class: 'control-label' } %>
  <div class="controls">
    <%= f.text_field :dni %>
  </div>
</div>

<div class="control-group">
  <%= f.label :name, { class: 'control-label' } %>
  <div class="controls">
    <%= f.text_field :name %>
  </div>
</div>

<div class="control-group">
  <%= f.label :lastname, { class: 'control-label' } %>
  <div class="controls">
    <%= f.text_field :lastname %>
  </div>
</div>

<div class="control-group">
  <%= f.label :phone_number, { class: 'control-label' } %>
  <div class="controls">
    <%= f.text_field :phone_number %>
  </div>
</div>

<div class="control-group">
  <%= f.label :birthdate, { class: 'control-label' } %>
  <div class="controls">
    <%= f.text_field :birthdate %>
  </div>
</div>

<div class="control-group">
  <%= f.label :nationality, { class: 'control-label' } %>
  <div class="controls">
    <%= f.text_field :nationality %>
  </div>
</div>

<div class="control-group">
  <%= f.label :country, { class: 'control-label' } %>
  <div class="controls">
    <%= f.text_field :country %>
  </div>
</div>

<div class="control-group">
  <%= f.label :province, { class: 'control-label' } %>
  <div class="controls">
    <%= f.text_field :province %>
  </div>
</div>

<div class="control-group">
  <%= f.label :city, { class: 'control-label' } %>
  <div class="controls">
    <%= f.text_field :city %>
  </div>
</div>

<div class="control-group">
  <%= f.label :address, { class: 'control-label' } %>
  <div class="controls">
    <%= f.text_field :address %>
  </div>
</div>

<div class="control-group">
  <%= f.label :proffesion, { class: 'control-label' } %>
  <div class="controls">
    <%= f.text_field :proffesion %>
  </div>
</div>

<div class="control-group">
  <%= f.label :civil_status, { class: 'control-label' } %>
  <div class="controls">
    <%= f.text_field :civil_status %>
  </div>
</div>