<script type="text/javascript">
  $(function() {
    var search_option_selected = "<%= @search_field %>";
    
    if( search_option_selected ){
      $('#passenger_field').val( search_option_selected );
    }

    $('#search_form').on('submit', function(e){
      if( !$('#passenger_field').val() ){
        alert("Seleccione un campo para buscar.");
        e.preventDefault();
        return;
      }
      if( !$('#passenger_value').val() ){
        alert("Seleccione texto a buscar.");
        e.preventDefault();
        return;
      }
    });

  });
</script>

<h2>Listado de Pasajeros</h2>

<% if notice %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p><%= notice %></p>
  </div>
<% end %>

<% if @warning %>
  <div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p><%= @warning %></p>
  </div>
<% end %>

<% if @passengers.size <= 0 %>

  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p>No hay pasajeros registrados, para agregar uno haga click <%= link_to 'aquí', new_passenger_path %>.</p>
  </div>

<% else %>

<form action="?" id="search_form">
<div class="input-append pull-right">
  <select id="passenger_field" name="passenger_field">
    <option value="">Buscar por...</option>
    <option value="dni">DNI</option>
    <option value="name">Nombre</option>
    <option value="lastname">Apellido</option>
    <option value="phone_number">Tel&eacute;fono</option>
  </select>
  <input class="span3" id="passenger_value" name="passenger_value" type="text" placeholder="Ingrese texto a buscar..." value="<%= @search_value %>">
  <button id="search" class="btn" type="submit">Buscar</button>
</div>
</form>

<table class="table table-hover table-condensed table-striped table-bordered">
  <tr>
    <th><%= t('activerecord.attributes.passenger.dni') %></th>
    <th><%= t('activerecord.attributes.passenger.name') %></th>
    <th><%= t('activerecord.attributes.passenger.lastname') %></th>
    <th></th>
    <th></th>
    <!-- 
    <th></th> 
    -->
  </tr>

<% @passengers.each do |passenger| %>
  <tr>
    <td><%= passenger.dni %></td>
    <td><%= passenger.name %></td>
    <td><%= passenger.lastname %></td>
    <td><%= link_to 'Historial', passenger %></td>
    <td><%= link_to 'Editar', edit_passenger_path(passenger) %></td>
    <!--
    <td><%= link_to 'Eliminar', passenger, method: :delete, data: { confirm: 'Esta seguro que desea eliminar el pasajero?' } %></td>
    -->
  </tr>
<% end %>
</table>

<% end %>

<br />

<%= link_to 'Nuevo Pasajero', new_passenger_path, { class: 'btn btn-primary' } %>
