<h2>Detalle del Pasajero</h2>

<% if notice %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p><%= notice %></p>
  </div>
<% end %>

<p>
  <b><%= t('activerecord.attributes.passenger.dni') %>:</b>
  <%= @passenger.dni %>
</p>

<p>
  <b><%= t('activerecord.attributes.passenger.name') %>:</b>
  <%= @passenger.name %>
</p>

<p>
  <b><%= t('activerecord.attributes.passenger.lastname') %>:</b>
  <%= @passenger.lastname %>
</p>

<p>
  <b><%= t('activerecord.attributes.passenger.phone_number') %>:</b>
  <%= @passenger.phone_number %>
</p>

<p>
  <b><%= t('activerecord.attributes.passenger.birthdate') %>:</b>
  <%= @passenger.birthdate %>
</p>

<p>
  <b><%= t('activerecord.attributes.passenger.nationality') %>:</b>
  <%= @passenger.nationality %>
</p>

<p>
  <b><%= t('activerecord.attributes.passenger.country') %>:</b>
  <%= @passenger.country %>
</p>

<p>
  <b><%= t('activerecord.attributes.passenger.province') %>:</b>
  <%= @passenger.province %>
</p>

<p>
  <b><%= t('activerecord.attributes.passenger.city') %>:</b>
  <%= @passenger.city %>
</p>

<p>
  <b><%= t('activerecord.attributes.passenger.address') %>:</b>
  <%= @passenger.address %>
</p>

<p>
  <b><%= t('activerecord.attributes.passenger.proffesion') %>:</b>
  <%= @passenger.proffesion %>
</p>

<p>
  <b><%= t('activerecord.attributes.passenger.civil_status') %>:</b>
  <%= @passenger.civil_status %>
</p>

<h2>Historial de Reservas</h2>

<% passenger_reservations = @passenger.reservations %>

<% if passenger_reservations.size == 0 %>
  <p>El pasajero no tiene reservadas registradas.</p>
<% else %>
  
  <% passenger_reservations.order("created_at DESC").each do |reservation| %>
  <p>Reserva realizada el dia <strong><%= reservation.created_at.strftime("%d/%m/%Y") %></strong>:</p>
  <ul>
    <% if reservation.reservation_rooms.size == 0 %>
      <li><i>Reserva sin habitaciones</i></li>
    <% end %>
    <% reservation.reservation_rooms.each do |rr| %>
      <% if rr.reservation_item_type == 'Room' %>
        <li><strong><%= rr.reservation_item.number.to_s %></strong><%=' desde el ' + rr.since.strftime("%d/%m/%Y") + ' hasta el ' + rr.until.strftime("%d/%m/%Y") %></li>
      <% else %>
        <li><strong><%= rr.reservation_item.name.to_s %></strong><%= ' desde el ' + rr.since.strftime("%d/%m/%Y") + ' hasta el ' + rr.until.strftime("%d/%m/%Y") %></li>
      <% end %>
    <% end %>
  </ul>
  <% end %>
  
<% end %>

<div class="form-actions">
  <%= link_to 'Editar', edit_passenger_path(@passenger), { class: 'btn btn-primary' } %>
  <%= link_to 'Atras', passengers_path, { class: 'btn' } %>
</div>