<h2>Detalle de la Empresa</h2>

<% if notice %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p><%= notice %></p>
  </div>
<% end %>

<p>
  <b><%= t('activerecord.attributes.enterprise.cuit') %>:</b>
  <%= @enterprise.cuit %>
</p>

<p>
  <b><%= t('activerecord.attributes.enterprise.name') %>:</b>
  <%= @enterprise.name %>
</p>

<p>
  <b><%= t('activerecord.attributes.enterprise.address') %>:</b>
  <%= @enterprise.address %>
</p>

<h2>Historial de Reservas</h2>

<% enterprise_reservations = @enterprise.reservations %>

<% if enterprise_reservations.size == 0 %>
  <p>La empresa no tiene reservadas registradas.</p>
<% else %>
  
  <% enterprise_reservations.order("created_at DESC").each do |reservation| %>
  <p><%= link_to 'Reserva', reservation_path(reservation) %> realizada el dia <strong><%= reservation.created_at.strftime("%d/%m/%Y") %></strong> por el pasajero <strong><%= link_to reservation.passenger.name + ' ' +reservation.passenger.lastname, passenger_path(reservation.passenger) %></strong>:</p>
  <ul>
    <% if reservation.reservation_rooms.size == 0 %>
      <li><i><%= link_to 'Reserva', reservation_path(reservation) %> sin habitaciones</i></li>
    <% end %>
    <% reservation.reservation_rooms.each do |rr| %>
      <% if rr.reservation_item_type == 'Room' %>
        <li><strong><%= rr.reservation_item.number.to_s %></strong><%= ' desde el ' + rr.since.strftime("%d/%m/%Y") + ' hasta el ' + rr.until.strftime("%d/%m/%Y") %></li>
      <% else %>
        <li><strong><%= rr.reservation_item.name.to_s %></strong><%= ' desde el ' + rr.since.strftime("%d/%m/%Y") + ' hasta el ' + rr.until.strftime("%d/%m/%Y") %></li>
      <% end %>
    <% end %>
  </ul>
  <% end %>
  
<% end %>

<div class="form-actions">
  <%= link_to 'Editar', edit_enterprise_path(@enterprise), { class: 'btn btn-primary' } %>
  <%= link_to 'Atras', enterprises_path, { class: 'btn' } %>
</div>