<!-- Fixed navbar -->
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="navbar-center container">
    
      <%= link_to 'Hotel Euskadi', reservations_path, tabindex: -1, class: 'brand' %>
      
      <% if signed_in? %>

      <ul class="nav">
        <li id="rooms_nav" class="dropdown divider-vertical">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reservas<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li><%= link_to 'Mapa de reservas', reservations_path, tabindex: -1 %></li>
            <li><%= link_to 'Nueva reserva', new_reservation_path, tabindex: -1 %></li>
          </ul>
        </li>
        <li id="passengers_nav" class="divider-vertical" ><%= link_to 'Pasajeros', passengers_path %></li>

        <li id="enterprises_nav" class="divider-vertical" ><%= link_to 'Empresas', enterprises_path %></li>
        <li id="rooms_nav" class="dropdown divider-vertical">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habitaciones<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li><%= link_to 'Listado', rooms_path, tabindex: -1 %></li>
            <li><%= link_to 'Combinadas', groups_path, tabindex: -1 %></li>
            <li><%= link_to 'Tipos de habitación', room_types_path, tabindex: -1 %></li>
          </ul>
        </li>
      </ul>
    
      <ul id="users_nav" class="nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Andr&eacute;s Valle<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <!--
            <li><%= link_to "Datos personales", current_user %></li>
            <li><a tabindex="-1" href="#">Configuraci&oacute;n</a></li>
            <li class="divider"></li>
            -->
            <li><%= link_to "Cerrar sesion", signout_path, method: :get, tabindex: -1 %></li>
          </ul>
        </li>
      </ul>

      <% end %>

    </div>
  </div>
</div>